

.containerRecoverPassword2 {
    display: flex;
    min-height: 100vh;
}

.containerRecoverPassword2 h1{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0C345C;
    margin: 20px 0px;
    text-align:center;
}


.containerRecoverPassword2 form{
    background-color: white;
    margin: auto;
    width: 90px;
    min-width: 490px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb( 0 0 0 / 30%);
    
}


/****************************************/
/*Este link(a) es meramente demostrativo, hasta que el back-end esté listo, por lo que se comenta el botón que sí manda el json(o datos en un objeto) para procesar en la base de datos*/
.containerRecoverPassword2 a {
    width: 84%;
    height: 45px;
    text-align: center;
    margin-left: 35px;
    margin-top: 20px;
    background-color: #0C345C; 
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 0px;
}
.containerRecoverPassword2 a:hover {
    text-decoration: none;
}
/****************************************/


/* 
.containerRecoverPassword2 .buttonForm{
    margin: 30px;
    text-align: center;
}
.containerRecoverPassword2 button {
    width: 92%;
    height: 45px;
    border: none;
    background-color: #0C345C;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 30px;
    margin: center;
}*/



.containerRecoverPassword2 img {
    margin: 30px;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}