.formInput{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0px 30px;
}

.formInput input{
    padding: 15px;
    margin: 15px 5px;
    border-radius: 5px;
    border: 1px solid rgba(111, 113, 116, 0.7);;
}

.formInput label{
    font: 12px;
    color: black;
}

/*Mensajes de error*/
.formInput span{
    font-size: 15px;
    padding: 3px;
    color: #be16007e;
    display: none;
}

/*para que las leyendas de error no se visualicen salvo si se seleccionan*/
.formInput input:invalid[focused="true"] ~ span{
    display: block;
}
