#materia-info .header-table-info{
    background-color: #0C345C;
    border-radius: .3rem;
    height: 2rem;
}

#materia-info .header-table-info {
    color: white;
}


#materia-info{
    position: relative;
    bottom: .7rem;
}

/************************************************************************/
/*enlace (a) provisional, después dejar el botón*/
#materia-info a{
    background-color: #0C345C;
    color: white;
    border-radius: .3rem;
    margin-top: 1rem;
    padding: 6px;
}

#materia-info a:hover{
    text-decoration: none;
}
/************************************************************************/

#materia-info .content-table-info{
    margin-top: 1rem;
}

#materia-info .button-cronograma{
    background-color: #0C345C;
    color: white;
    border-radius: .3rem;
    margin-top: 1rem;
}


