.nav-bar{
    background-color: #0C345C;
    height: 4em;
}
.nav-bar_list{
    text-decoration: none;
    color: white;
    list-style: none;
}

.nav-bar_list li button{
    background-color: #0C345C;;
    color: white;
    margin-top: .5em;
    
}

#dropdownPerfilCerrarSesion a:hover, #brandP:hover{
    text-decoration: none;
    color: white;
}

.nav-bar_list .btn:focus{
    box-shadow: none;
}
.nav-bar_list li .btn:hover{
    color: white
    
}