.nav-bar{
    background-color: #0C345C;
    height: 4em;
}
.nav-bar_list{
    text-decoration: none;
    color: white;
    list-style: none;
}
.nav-bar_list li img{
    height: 2.5rem;
    margin-top: 1em;
}
.nav-bar_list li button{
    background-color: #0C345C;;
    color: white;
    margin-top: .5em;
    
}

#cerrarSesion a:hover{
    text-decoration: none;
}

.nav-bar_list .btn:focus{
    box-shadow: none;
}
.nav-bar_list li .btn:hover{
    color: white
    
}