

.containerSignin img{
    height: 100px;
    margin: 10px 0px;
}

.containerSignin h1{
    font-size: 1.5rem;
    color: #0C345C;
    margin: 40px 0px;
}

.containerSignin .headerForm {
    text-align: center;
    margin: 5px;
}

.containerSignin{
    background-color: white;
    margin: 70px auto;
    width: 90px;
    min-width: 940px;
    padding: 1em 4em;
    border-radius: 10px;
    box-shadow: 10px 5px 25px -10px rgb( 0 0 0 / 30%);
    
}

.containerSignin form{
    
    /*hace dos columnas*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /*Falta hacer responsiva para dispositivos móviles
    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }*/
}




.containerSignin .buttonForm{
    margin: 30px;
    text-align: center;
}

.containerSignin button {
    width: 50%;
    height: 45px;
    border: none;
    background-color: #0C345C;
    color: white;
    border-radius: 5px;
    /*font-weight: bold;*/
    font-size: 18px;
    cursor: pointer;
}

