/*.centered-card
{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes 
    transform: translate(-50%, -50%);
}*/

.centered-card a {
    color: black;
}
.centered-card button{
    background-color: #0C345C;
    border-radius: .5rem;
    color: white;
    border: none;
    padding: 1rem;
}

