#search-nav-bar{
    background-color: rgba(12, 52, 92, .7);
    height: 7rem;

}

#search-nav-bar a{
    color: white;
    text-decoration: none;
}
#search-nav-bar .search-materia-info{
    border-radius: .4rem;
    margin-left: 18rem;
}
