@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;700&display=swap');


/*Estilo del form editar perfil*/


#editProfile h1{
    font-size: 1.5rem;
    color: #0C345C;
}

#editProfile #alignCenter {
    text-align: center;
    /*box-shadow: 10px 5px 25px -10px rgb( 0 0 0 / 30%);
    border-radius: 10px;*/
    padding: 5em;
    }

/*Estilo del form*/
#editProfile{
    display: flex;
    justify-content: center;
    /*height: 100vh;*/
    
}

#editProfile form{
    /*hace dos columnas*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: none;
    text-align: left;
    width: inherit;
    padding: 20px 0px;
}

#updateImageProfile{
    border: none;
}

/****************************************/
/*Este link(a) es meramente demostrativo, hasta que el back-end esté listo, por lo que se comenta el botón que sí manda el json(o datos en un objeto) para procesar en la base de datos*/
#editProfile .datosProfesor {
    width: 80%;
    height: 45px;
    text-align: center;
    margin-left: 40px;
    margin-top: 5px;
    background-color: #0C345C !important; 
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 0px;
}
#editProfile a:hover {
    text-decoration: none;
}
/****************************************/







/*Página para hacer responsiva para dispositivos móviles*/
@media screen and (max-width: 800px) {
    #editProfile form{
            grid-template-columns: 1fr;
            padding: 0px 60px;}
    }


    #editProfile button {
    width: 50%;
    height: 45px;
    border: none;
    background-color: #0C345C;
    color: white;
    border-radius: 5px;
    /*font-weight: bold;*/
    font-size: 18px;
    cursor: pointer;
}


/*
para localizar en el centro todos los elementos
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}*/